@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap');
:root {
  --main-color: (#FED16AE);
  --second-color:#A6B1E1;
  --btn-color:#DCD6F7;
  --shadow:#00000044  0px 14px 28px, #00000044 0px 10px 10px;;
}
.btn{
  background:linear-gradient(#fc5d08,#fad59d,#f07837) !important;
  width:55%;
  text-align: center;
  margin: 15px !important;
  border-radius: 15px  !important;
  -webkit-border-radius: 15px  !important;
  -moz-border-radius: 15px  !important;
  -ms-border-radius: 15px  !important;
  -o-border-radius: 15px  !important;
} 
.text-color{
  color: brown !important;
  font-size: 22px;
  margin: 10px;
  text-align: center;
}

.imge{
height: 95%;
width: 70%;
}
.location{
  align-items: center;
}

.icon{
  margin-left: 10px;
}


.wrap{
  text-align: center;
}

.h1{
  color:white;
  font: 4rem !important;

}
.h2{
  color:white;
}
.h3{
  color:white;
}
.h4{
  font-size: 40px !important;
  width: 100% !important;
}

.h5{
  color:white;
}
.a{
  color: white;
}

body{
    display: grid;
    place-items: center;

}

.social{
    display: grid;
    place-items: center;
}
.all .social .name h1{
    font-family: "Cairo", sans-serif;

}
.xc{
  font-family: "Cairo", sans-serif;
}
.as{
  font-family: "Cairo", sans-serif;
  color: red;
 
}
.cv{
  color: white;
}
.hhh{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
    
}
.hh:hover{
  color: black;
}
.hh{
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  background-color: var(--second-color);
    display: flex;
  align-items: center;
  justify-content: center;





}

.map .google-maps{
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    background-color: antiquewhite;
    margin-bottom: 20px;

}

.map .google-maps a{
  margin: 0px;
}
    
.map .google-maps a h4{
  margin: 10px;
  cursor: pointer;
  
}
    
.all{
  background:linear-gradient(#fdfcdc,#f7f9f5) ;
  width: 45%;
  border-radius: 7% !important;
  -moz-border-radius: 7% !important;
  -ms-border-radius: 7% !important;
  -o-border-radius: 7% !important;
  overflow: hidden;
  box-shadow: var(--shadow) ;
  -webkit-border-radius: 7% !important;
}

.name{
    background:linear-gradient(#fc5d08,#fad59d,#f07837);
    width: 100%;
    border-radius: 5%;
    display: grid;
    place-items: center;
    margin-bottom:20px ;
    box-shadow: black 0px 0px 10px 0px;
    text-align: center;
}

.name h2{
    margin-bottom: 10px;
}

.name h3{
    margin-top: 10px;
}

.divs{
     display: grid;
    place-items: center;
}

.time{
    display: grid;
    place-items: center;

}
 h3{
    margin-bottom: 5px;
}

 h5{
    margin-top: 15px;
}

.hr{
    padding-top: 10px !important ;
    padding-bottom: 5px !important;  
    box-shadow: var(--shadow);

}

a{
    text-decoration: none !important;
}



.main_card {
  position: relative;
  width: 350px;
  height: 200px;
  background: lightgrey;
  border-radius: 30px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  margin: 3%;

}

.background {
  position: absolute;
  inset: 0;
  background: #c73a02;
}

.cool_card_logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: ;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon {
  font-weight: bold;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 85%;
  height: 85%;
  bottom: -85%;
  left: -85%;
  background-color: rgb(41, 33, 33);
}

.box2 {
  width: 65%;
  height: 65%;
  bottom: -65%;
  left: -65%;
  transition-delay: 0.2s;
  background-color: yellow;
}

.box3 {
  width: 45%;
  height: 45%;
  bottom: -45%;
  left: -45%;
  transition-delay: 0.4s;
  background:linear-gradient(#5A50CA,#DB2F7B,#FC9B3C);

}

.box4 {
  width: 25%;
  height: 25%;
  bottom: -25%;
  left: -25%;
  transition-delay: 0.6s;
  background-color: green;
}

.main_card:hover {
  transform: scale(1.1);
}

.main_card:hover .box {
  bottom: -10px;
  left: -10px;
}

.main_card:hover .cool_card_logo {
  transform: translate(0, 0);
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--second-color);


}

.all .kmap{
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  background-color: #075891;
  width: 50%;
  display: grid;
  place-items: center;
  

}

.i{
  color: white;
}

.size{
  font-size: 2.2rem;
}
.full-name{
    text-shadow: 2px 2px 5px rgb(64, 37, 7);


}
.spe{
  font-family: "Cairo", sans-serif;
  font-size: 2rem !important;
}

.vv{
  text-shadow: white;
}

.sh{
    box-shadow: var(--shadow);
}


.up-down:hover{
  animation: up-down linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

.namee{
  margin:10px;
  font-size: 4rem;
}
.e{
  margin-bottom: 35px;
  font-size: 35px;
}


@keyframes up-down{
  0% {
    transform:  translate(1px,5px)  ;
    -webkit-transform:  translate(1px,5px)  ;
    -moz-transform:  translate(1px,5px)  ;
    -ms-transform:  translate(1px,5px)  ;
    -o-transform:  translate(1px,5px)  ;
}
  24% {
    transform:  translate(1px,-5px)  ;
    -webkit-transform:  translate(1px,-5px)  ;
    -moz-transform:  translate(1px,-5px)  ;
    -ms-transform:  translate(1px,-5px)  ;
    -o-transform:  translate(1px,-5px)  ;
}
  50% {
    transform:  translate(1px,5px)  ;
    -webkit-transform:  translate(1px,5px)  ;
    -moz-transform:  translate(1px,5px)  ;
    -ms-transform:  translate(1px,5px)  ;
    -o-transform:  translate(1px,5px)  ;
}
  74% {
    transform:  translate(1px,-5px)  ;
    -webkit-transform:  translate(1px,-5px)  ;
    -moz-transform:  translate(1px,-5px)  ;
    -ms-transform:  translate(1px,-5px)  ;
    -o-transform:  translate(1px,-5px)  ;
}
  100% {
    transform:  translate(1px,5px)  ;
    -webkit-transform:  translate(1px,5px)  ;
    -moz-transform:  translate(1px,5px)  ;
    -ms-transform:  translate(1px,5px)  ;
    -o-transform:  translate(1px,5px)  ;
}
}

@-moz-keyframes up-down{
  0% {
    -moz-transform:  translate(1px,20px)  ;
  }
  24% {
    -moz-transform:  translate(1px,30px)  ;
  }
  50% {
    -moz-transform:  translate(1px,12px)  ;
  }
  74% {
    -moz-transform:  translate(1px,22px)  ;
  }
  100% {
    -moz-transform:  translate(1px,22px)  ;
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform:  translate(1px,20px)  ;
  }
  24% {
    -webkit-transform:  translate(1px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(1px,12px)  ;
  }
  74% {
    -webkit-transform:  translate(1px,22px)  ;
  }
  100% {
    -webkit-transform:  translate(1px,22px)  ;
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform:  translate(1px,20px)  ;
  }
  24% {
    -o-transform:  translate(1px,30px)  ;
  }
  50% {
    -o-transform:  translate(1px,12px)  ;
  }
  74% {
    -o-transform:  translate(1px,22px)  ;
  }
  100% {
    -o-transform:  translate(1px,22px)  ;
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform:  translate(1px,20px)  ;
  }
  24% {
    -ms-transform:  translate(1px,30px)  ;
  }
  50% {
    -ms-transform:  translate(1px,12px)  ;
  }
  74% {
    -ms-transform:  translate(1px,22px)  ;
  }
  100% {
    -ms-transform:  translate(1px,22px)  ;
  }
}


@media(max-width:1099px) {
.all{
  width: 60%;
}


}


@media (max-width:823px) {
.all{
  width: 65%;
}
}

@media(max-width:768px) {
.all{
  width: 85%;
  .up-down:hover{
  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  margin-bottom: 35px;

}
.up-down{
  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  margin-bottom: 45px;

}

@keyframes up-down{
  0% {
    transform:  translate(1px,20px)  ;
  }
  24% {
    transform:  translate(1px,30px)  ;
  }
  50% {
    transform:  translate(1px,12px)  ;
  }
  74% {
    transform:  translate(1px,22px)  ;
  }
  100% {
    transform:  translate(1px,22px)  ;
  }
}

@-moz-keyframes up-down{
  0% {
    -moz-transform:  translate(1px,20px)  ;
  }
  24% {
    -moz-transform:  translate(1px,30px)  ;
  }
  50% {
    -moz-transform:  translate(1px,12px)  ;
  }
  74% {
    -moz-transform:  translate(1px,22px)  ;
  }
  100% {
    -moz-transform:  translate(1px,22px)  ;
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform:  translate(1px,20px)  ;
  }
  24% {
    -webkit-transform:  translate(1px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(1px,12px)  ;
  }
  74% {
    -webkit-transform:  translate(1px,22px)  ;
  }
  100% {
    -webkit-transform:  translate(1px,22px)  ;
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform:  translate(1px,20px)  ;
  }
  24% {
    -o-transform:  translate(1px,30px)  ;
  }
  50% {
    -o-transform:  translate(1px,12px)  ;
  }
  74% {
    -o-transform:  translate(1px,22px)  ;
  }
  100% {
    -o-transform:  translate(1px,22px)  ;
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform:  translate(1px,20px)  ;
  }
  24% {
    -ms-transform:  translate(1px,30px)  ;
  }
  50% {
    -ms-transform:  translate(1px,12px)  ;
  }
  74% {
    -ms-transform:  translate(1px,22px)  ;
  }
  100% {
    -ms-transform:  translate(1px,22px)  ;
  }
}


}

    .main_card {
  transform: scale(1.1);
}

.main_card .box {
  bottom: -1px;
  left: -1px;
}

.main_card .cool_card_logo {
  transform: translate(0, 0);
  bottom: 20px;
  right: 20px;
  display: none;
}

}
@media (max-width:580px) {
.all{
  width: 92%;
}
.btn{
  width: 65%;
}
}